
# local secrets
.env

# python env
venv/
.venv/
__pycache__/
*.pyc
.env

# Large model files
dataquality-aiservices/BE/data/models/RandomForest.pkl
dataquality-aiservices/BE/src/best-model.pt

# Local datasets, generated images, and model weights
dataquality-aiservices/BE/data/DataSets/bitcoin.csv
dataquality-aiservices/BE/data/DataSets/BMW sales data (2010-2024) (1).csv
dataquality-aiservices/BE/data/DataSets/diabetes.csv
dataquality-aiservices/BE/data/DataSets/earthquake_data_tsunami.csv
dataquality-aiservices/BE/data/DataSets/Final_data.csv
dataquality-aiservices/BE/data/DataSets/final_df_mimic.csv
dataquality-aiservices/BE/data/DataSets/iris.csv
dataquality-aiservices/BE/data/DataSets/kropt.csv
dataquality-aiservices/BE/data/DataSets/Mimic_3.csv
dataquality-aiservices/BE/data/DataSets/patients.csv
dataquality-aiservices/BE/data/DataSets/ratings.csv
dataquality-aiservices/BE/data/DataSets/redwine.csv
dataquality-aiservices/BE/data/DataSets/Smart_Company.csv
dataquality-aiservices/BE/data/DataSets/temperature.csv
dataquality-aiservices/BE/data/DataSets/titanic.csv
dataquality-aiservices/BE/data/final_df.csv
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-06-23_16-52-12_kropt.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-06-23_17-11-55_kropt.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-07-06_16-29-33_kropt.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-07-06_16-34-37_kropt.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-07-06_18-46-44_kropt.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-07-06_18-49-07_kropt.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-07-16_12-37-08_final_df_smart_company.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-07-16_12-46-39_final_df_smart_company.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-07-16_13-13-22_kropt.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-07-16_13-28-25_final_df_mimic.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-07-16_13-58-16_final_df_mimic.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-07-16_14-18-22_final_df_mimic.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-07-21_15-16-51_kropt.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-07-24_16-42-56_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-07-24_16-46-29_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-07-24_16-50-15_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-07-24_16-57-52_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-07-24_17-04-51_kropt.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-03_19-02-07_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-03_19-11-26_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-04_14-40-46_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-05_18-19-11_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-05_18-19-30_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-05_18-22-34_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-05_18-41-50_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-05_18-50-57_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-05_19-01-38_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-05_19-34-02_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-05_19-59-04_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-05_20-17-58_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-05_20-19-21_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-05_20-19-23_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-05_20-24-08_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_18-17-03_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_18-59-27_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_20-23-10_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_20-23-33_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_20-42-31_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_20-54-40_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_20-58-38_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-09-11_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-10-07_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-11-30_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-14-27_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-16-35_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-16-36_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-25-52_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-26-59_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-27-02_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-31-10_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-31-28_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-37-00_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-40-28_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-41-00_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-41-01_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-41-04_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-47-16_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-52-51_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-58-33_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-58-36_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-59-00_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_21-59-02_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-03-11_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-06-45_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-08-16_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-08-28_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-09-38_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-12-55_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-14-06_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-17-35_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-20-45_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-23-39_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-27-52_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-29-01_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-31-08_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-33-07_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-36-49_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-39-17_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-40-24_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-40-34_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-40-48_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-43-51_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-44-07_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-45-46_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-46-24_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-48-02_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-48-04_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-49-15_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-50-29_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-51-00_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_22-51-42_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-00-49_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-00-55_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-03-06_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-05-57_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-11-24_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-11-26_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-15-01_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-15-16_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-17-27_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-17-39_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-17-45_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-18-43_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-22-14_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-23-22_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-24-14_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-26-13_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-26-32_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-30-11_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-30-23_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-35-54_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-38-03_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-38-43_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-42-32_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-42-36_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-42-43_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-06_23-45-11_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-07_00-10-53_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-07_00-34-34_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-07_01-27-16_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-07_01-27-41_export.json
dataquality-aiservices/BE/data/meta_data_piveau/metadata_2025-08-07_01-27-49_export.json
dataquality-aiservices/BE/data/models/RandomForest.pkl
dataquality-aiservices/BE/data/original_df.csv
dataquality-aiservices/BE/metadata.json
dataquality-aiservices/BE/session_data/anomaly.csv
dataquality-aiservices/BE/session_data/impute.csv
dataquality-aiservices/BE/session_data/inference.csv
dataquality-aiservices/BE/session_data/metadata.json
dataquality-aiservices/BE/session_data/metadata_store.csv
dataquality-aiservices/BE/session_data/original.csv
dataquality-aiservices/BE/session_data/personal_0.csv
dataquality-aiservices/BE/session_data/personal_1.csv
dataquality-aiservices/BE/src/best-model.pt
dataquality-aiservices/BE/temp_plots/anomaly_pie.png
dataquality-aiservices/BE/temp_plots/boxplot.png
dataquality-aiservices/BE/temp_plots/correlation_matrix.png
dataquality-aiservices/BE/temp_plots/correlation_target.png
dataquality-aiservices/BE/temp_plots/corr_matrix.png
dataquality-aiservices/BE/temp_plots/corr_target.png
dataquality-aiservices/BE/temp_plots/feature_distribution.png
dataquality-aiservices/BE/temp_plots/feature_importance.png
dataquality-aiservices/BE/temp_plots/hist_black_king_row.png
dataquality-aiservices/BE/temp_plots/hist_game.png
dataquality-aiservices/BE/temp_plots/hist_white_king_row.png
dataquality-aiservices/BE/temp_plots/hist_white_rook_row.png
dataquality-aiservices/BE/temp_plots/nan_counts.png
dataquality-aiservices/BE/temp_plots/nan_heatmap.png
dataquality-aiservices/BE/temp_plots/pairplot.png
dataquality-aiservices/BE/temp_plots/personal_pie.png
